body{
margin: 0;
padding: 0;
font-family: 'Rubik', sans-serif;
overflow: hidden;
background-color: antiquewhite;
}


.name-container{
    cursor: pointer;
  }
  header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10%;
    background-color: antiquewhite;
}
.form-container h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid antiquewhite;
}
.form-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:400px;
    border-radius: 15px;
     background-color: rgb(255, 255, 255);
     box-shadow: 10px 8px 17px 0px rgba(0,0,0,.8);
}

form{
    padding: 0 40px;
    box-sizing: border-box;
    height: 250px;
}
#uname, #password{
    position: relative;
    /*border-bottom: 2px solid blue;*/
    margin: 5px 0;
}
input{
    width: 100%;
    margin: auto;
    height: 40px;
    font-size: 16px;
    background:none;
    outline: none;
}
form input[type=submit]{
    display: flex;
    justify-content:  center;
    align-items: center;
    margin-top: 15px;
    width: 50%;
    height: 40px;
}
input[type=submit]:hover{
    background-color:burlywood;
    cursor: pointer;
  }
